.cta {
  display: flex;
  padding: 9.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: .625rem;
  background: url("../assets/images/cta-bg.png") no-repeat center center / cover;}

.cta-content {
  display: flex;
  width: 42.375rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}


/************************* CTA Text *************************/
.cta-content h1 {
  color: #fff;
  font-size: 2.625rem;
  font-weight: 600;
  letter-spacing: -0.0525rem;
}

.cta-content p {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%;
}

/************************* CTA Button *************************/
.cta-btn {
  display: flex;
  padding: .75rem 2.125rem;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  border: none;
  border-radius: 6.8125rem;
  background: #ffbb1c;
}

.cta-btn span {
  color: #2a3334;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .07rem;
  cursor: pointer;
}

.cta-btn:hover {
  background: #fff;
}

.cta-btn span:hover {
  color: #ffbb1c;
}


/************************* Media Queries *************************/
@media (max-width: 1250px) {
  .cta {
    padding: 9.375rem 1.5625rem;
  }
}

@media (max-width: 768px) {
  .cta {
    padding: 3.125rem;
  }

  .cta .cta-content {
    width: 100%;
    gap: 1.25rem;
  }

  .cta .cta-content h1 {
    font-size: 2rem;
    letter-spacing: -0.04rem;
  }

  .cta .cta-content p {
    font-size: 1rem;
  }

  .cta .cta-content .cta-btn {
    padding: .625rem 1.25rem;
  }

  .cta .cta-content .cta-btn span {
    font-size: .75rem;
    letter-spacing: .06rem;
  }
}