.features {
  display: flex;
  padding: 80px 150px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  background: rgba(255, 187, 28, 0.05);
}

/************************* Features Text *************************/
.features-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.features-text-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.features-text-header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: .9375rem;
  background: rgba(60, 171, 144, 0.15);
}

.features-text-header-img img {
  width: 1.75rem;
  height: 1.75rem;
  padding: .75rem;
  border-radius: .9375rem;
  background: #3cab90;
}

.features-text-header h1 {
  align-self: stretch;
  color: #101828;
  font-size: 2.625rem;
  font-weight: 600;
  letter-spacing: -0.0525rem;
}

.features-text p {
  color: #475467;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
}

/************************* Features Cards *************************/
.features-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  min-width: 47rem;
}

.features-card {
  display: flex;
  width: 19.375rem;
  height: 23rem;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-radius: .75rem;
  border: 1px solid #3cab90;
  background: rgba(60, 171, 144, 0.05);
  box-shadow: 0rem .25rem 1.875rem 0rem rgba(0, 0, 0, 0.05);
}

.features-card-image {
  display: flex;
  width: 19.375rem;
  height: 7.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .625rem;
  background: rgba(60, 171, 144, 0.15);
}

.features-card-image img {
  mix-blend-mode: luminosity;
}

.features-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}

.features-card-text h3 {
  color: #101828;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
}

.features-card-text p {
  color: #475467;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.features-card-text button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.features-card-text button span {
  color: #3cab90;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.features-card-text button:hover span {
  text-shadow: 0rem 0rem .3125rem #55eec8;
}

.features-card-text img {
  width: 1.25rem;
  height: 1.25rem;
}

/************************* Media Queries *************************/
/* Media Query for Mobile Devices */
@media (max-width: 1400px) {
  .features-cards {
    gap: 1rem;
    width: 46rem;
    min-width: 46rem;
  }
}

@media (max-width: 1350px) {
  .features-cards {
    gap: .5rem;
    width: 45.5rem;
    min-width: 45.5rem;
  }
}

@media (max-width: 1300px) {
  .features {
    flex-direction: column;
  }

  .features-cards {
    gap: 1rem;
    width: auto;
    min-width: unset;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 1250px) {
  .features {
    flex-direction: column;
    padding: 1rem 1.5625rem;
  }
}

@media (max-width: 750px) {
  .features {
    padding: 0.5rem 0.75rem;
  }

  .features-cards {
    flex-direction: column;
    flex-wrap: unset;
  }

  .features-card {
    width: auto;
    height: auto;
    padding: 1rem;
    gap: 1rem;
  }

  .features-card-image {
    width: 100%;
  }
}