footer {
  display: flex;
  padding: 5rem 9.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.375rem;
  background: #283646;
  letter-spacing: .0187rem;
}

/************************* First Row *************************/
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.375rem;
}

.footer-links-logo {
  width: 11.5625rem;
  height: 4rem;
  background: url("../assets/images/placeholder.png") no-repeat center center / cover;  mix-blend-mode: multiply;
}

.footer-links-list {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  min-width: 31.25rem;
}

.footer-links-list a {
  display: flex;
  white-space: nowrap;
}

.footer-links-list a span {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer-links-list a span:hover {
  text-shadow: 0rem 0rem .1875rem #fff;
}

.footer-subscription {
  display: flex;
  padding: 0rem .0625rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-subscription h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer-subscription form {
  display: flex;
  padding-left: 1.25rem;
  align-items: center;
  border-radius: 2.375rem;
  border: 1px solid #b3bdc7;
  background: rgba(255, 255, 255, 0.09);
}

.footer-subscription input {
  width: 14.9375rem;
  color: #92989f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .0187rem;
  border: none;
  background: transparent;
}

.footer-subscription input:focus {
  outline: none;
  border: none;
  color: #fff;
}

.footer-subscription button {
  display: flex;
  padding: .75rem 2.125rem;
  align-items: center;
  gap: .625rem;
  border-radius: 6.8125rem;
  background: #ffbb1c;
}

.footer-subscription button span {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .0187rem;
}

.footer-subscription button:hover {
  background: #fff;
}

.footer-subscription button:hover span {
  color: #ffbb1c;
}

.break {
  height: .125rem;
  width: 100%;
  background-color: #71777d;
  border: none;
}

/************************* Second Row *************************/
.footer-legal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  color: #92989f;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
}

.legal-links {
  font-style: normal;
  letter-spacing: .0161rem;
}

.legal-links a {
  color: #92989f;
}

.legal-links a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: right;
  letter-spacing: .0161rem;
}

/************************* Media Queries *************************/
@media screen and (max-width: 78.125rem) {
  footer {
    padding: 1rem 1.5625rem;
    gap: 1.25rem;
  }

  .footer-content {
    align-items: center;
  }
}

@media screen and (max-width: 68.75rem) {
  footer {
    gap: 1.25rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-links {
    align-items: center;
  }
}

@media screen and (max-width: 46.875rem) {
  .footer-legal {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer-links {
    width: 100%;
  }

  .footer-links-list {
    width: 100%;
    min-width: 100%;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }
}