.mission {
  display: flex;
  padding: 5rem 9.375rem;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.4375rem;
}

/************************* Mission Content *************************/
.mission-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4375rem;
}

/************************* Mission Text *************************/
.mission-text {
  display: flex;
  width: 37.125rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.mission-text h1 {
  align-self: stretch;
  color: #101828;
  font-size: 2.625rem;
  font-weight: 600;
  letter-spacing: -0.0525rem;
}

.mission-text p {
  align-self: stretch;
  color: #475467;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

/************************* Mission Points *************************/
.mission-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.mission-point {
  display: flex;
  width: 31.125rem;
  align-items: flex-start;
  gap: 0.625rem;
  line-height: 1.875rem;
}

.mission-point-number {
  color: #84bd3a;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
}

.mission-point-text {
  width: 28.5rem;
  color: #101828;
  font-size: 1.25rem;
  font-weight: 600;
}

/************************* Mission Image *************************/
.mission-image {
  position: relative;
  display: inline-block;
}

.mission-image > img {
  width: 29.3125rem;
  height: 34.5rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
}

.highlight {
  display: flex;
  height: 10rem;
  width: 12.5rem;
  padding: 1.5rem 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  border-radius: 0.75rem;
  background: #ffbb1c;
  position: absolute;
  bottom: 3%;
  left: 15%;
  transform: translateX(-50%);
}

.highlight p {
  align-self: stretch;
  color: #2a3334;
  font-family: Akazan;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.0586rem;
}

.highlight img {
  width: 5.625rem;
  height: 5.625rem;
}

/************************* Media Queries *************************/
/* Tablet */
@media screen and (max-width: 1250px) {
  .mission {
    padding: 1rem 1.5625rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .mission-text {
    align-items: center;
    text-align: center;
  }

  .mission-content {
    align-items: center;
  }

  .mission-points {
    align-items: center;
  }

  .mission-point {
    width: auto;
  }
  .mission-point-text {
    width: auto;
  }
}

@media screen and (max-width: 750px) {
  .mission {
    padding: 0.5rem 0.75rem;
  }

  .mission-text {
    width: auto;
  }

  .mission-image {
    width: 80%;
  }

  .mission-image > img {
    width: 100%;
    height: auto;
  }

  .highlight {
    display: flex;
    height: 8rem;
    width: 9rem;
    padding: 1rem 1.3rem;
    flex-direction: column;
    align-items: flex-start;
    left: 20%;
    gap: 1rem;
  }

  .highlight p {
    font-size: 1rem;
  }

  .highlight img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

