.testimonials {
  display: flex;
  padding: 5rem 9.375rem;
  gap: 2rem;
}

/************************* Testimonials Text *************************/
.testimonials-text {
  display: flex;
  width: 28.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  flex-shrink: 0;
}

.testimonials-text img {
  width: 3.6458rem;
  height: 3rem;
  fill: #3cab90;
}

.testimonials-text h1 {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.testimonials-text p {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

/*********************** Testimonials Carousel ***********************/
.testimonials-carousel {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 5.4375rem;
  flex: 1 0 0;
  border-radius: 1.5rem;
  background: rgba(60, 171, 144, 0.06);
}

.testimonials-carousel-top {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
}

.what-they-say {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.25rem;
  flex: 1 0 0;
}

.what-they-say-title {
  color: #3cab90;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-weight: 700;
}

.what-they-say-text-ctn {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 13.4375rem;
}

.what-they-say-text {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 100%;
  text-wrap: wrap;
  color: #101828;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.3s ease-in-out;
}

.what-they-say-text.active {
  opacity: 1;
  pointer-events: all;
}

.indicator {
  width: 4.5rem;
  height: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.indicator-dot {
  width: 0.5rem;
  height: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.indicator-dot.active {
  background: #6b6b6b;
}

.testimonials-carousel-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}

.testimonials-carousel-bottom-left {
  opacity: 0;
  height: 3.75rem;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  width: 70%;
  width: 100%;
  position: absolute;
  gap: 0.5rem;
}

.testimonials-carousel-bottom-left.active {
  opacity: 1;
}

.person-ctn {
  display: inline-flex;
  align-items: center;
}

.testimonials-carousel-bottom-left img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 1.875rem;
}

.testimonials-carousel-bottom-left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5625rem;
}

.testimonials-carousel-bottom-left-text h5 {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
}

.testimonials-carousel-bottom-left-text p {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
}

.testimonials-carousel-bottom-right {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.carousel-arrow-left,
.carousel-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border: 1px solid #1c1c1c;
  border-radius: 1.5rem;
  z-index: 1;
}

.carousel-arrow-left svg,
.carousel-arrow-right svg {
  fill: #1c1c1c;
  transition: all 0.3s ease-in-out;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  background: #1c1c1c;
  border: 1px solid #fff;
  cursor: pointer;
}

.carousel-arrow-left:hover svg,
.carousel-arrow-right:hover svg {
  fill: #fff;
}

/************************* Media Queries *************************/
@media screen and (max-width: 1400px) {
  .testimonials {
    flex-direction: column;
  }
}

@media screen and (max-width: 1250px) {
  .testimonials {
    padding: 1rem 1.5625rem;
  }
}

@media screen and (max-width: 800px) {
  .what-they-say-text-ctn {
    height: 18.75rem;
  }

  .person-ctn {
    align-self: flex-start;
  }

  .testimonials-carousel-bottom-right {
    padding-top: 3.75rem;
    align-self: flex-end;
  }
}

@media screen and (max-width: 750px) {
  .testimonials {
    padding: 0.5rem 0.75rem;
  }

  .testimonials-text {
    width: 100%;
  }

  .testimonials-carousel {
    padding: 1rem 0.75rem;
  }

  .testimonials-carousel-top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    align-self: unset;
    width: 100%;
  }

  .what-they-say {
    gap: 1rem;
  }

  .what-they-say-text-ctn {
    height: 35vh;
    width: 90vw;
    align-items: center;
  }

  .person-ctn {
    align-self: flex-start;
  }

  .testimonials-carousel-bottom-right {
    padding-top: 3.75rem;
    align-self: flex-end;
  }

  .testimonials-carousel-bottom-left {
    width: 100%;
  }

  .testimonials-carousel-bottom-left img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
  }

  .testimonials-carousel-bottom-left-text h5 {
    font-size: 0.875rem;
  }

  .testimonials-carousel-bottom-left-text p {
    font-size: 0.875rem;
  }
}
